.input{
    -webkit-text-fill-color: aqua;text-align: center;center;font-size: xx-large;
}

#mouse{
    background-color: rgba(255, 0, 153, 0.625);
}
#monitor{
    background-color: rgb(0, 149, 255);
}
.output{
        -webkit-text-fill-color: rgb(26, 255, 79) ;text-align: center;font-size: xx-large;
}